.site_name {

    color: white;
    margin-bottom: 20px;
    margin-left: 10px;
}

.nav_but {

    margin-top: 10px;
}

.nav_button {

    margin-top: 15px;
}

.nav_ul {

    padding-left: 20px;
}

.date_pic{

    padding-bottom: 20px;
    margin-bottom: 30px;
}

.label_pic {

    margin-top: 5px;
}

.select_date {

    margin-bottom: 10px;
}

.list_name {

    font-size: 20px;
    margin-bottom: 0px;
}

.photo-post {

    width: 200px;
    height: 150px;
}

.no-margin-top {

    margin-top: 0px;
}

@media (max-width: 767px) {
    .list_mobile{

        padding-left: 0;
        padding-right: 0;
    }
    }